*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Menu */

.nav-container{

    width: 100%;
    background: rgba(255, 144, 14, 0.1);
  
}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

.nav-heading{

    color: rgb(9, 9, 9);
    font-size: 28px;
    cursor: pointer;
}

.header-span{

    color: #EA1538;
}

nav ul li{

    list-style: none;
    display: inline-block;
    padding: 3px 6px;
}

nav ul li a{

    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(9, 9, 9);
}

nav ul li a:hover{

    color: #EA1538;
    transition: 0.3s;

}


/* First Section */

.first-section-container{

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 144, 14, 0.1);

}

/* First Section Heading */

.section-heading{

    width: 60%;
    padding-top: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    
}

/* First Section Paragraph */

.section-paragraph{

width: 70%;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #727272;
margin-top: 15px;

}

/* Explore More Button */

.explore-more{

    background-color: #FF900E;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: bold;
    cursor: pointer;
}

.banner-image{

    margin-bottom: 30px;
}



/* Second Section */

.second-section-container{

  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  margin-top: 40px;
  grid-gap: 20px;

}

section .team-photo{

    padding-left: 170px;
    
}

.text{

    margin-top: 220px;
    margin-right: 90px;
    width: 70%;
}


.span1{

    color: #727272;
    font-size: 45px;

}

.span2{

    color: #131313;
    font-size: 45px;

}

.span3{

    color: #FF900E;
    font-size: 45px;
    font-weight: bold;

}

.text p{

    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
}

/* Third Section */

.third-container{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    margin-left: 30px;
   
}

.third-section-first-header{

    box-shadow: 5px 5px 5px 5px whitesmoke;
    padding: 30px;
    margin-bottom: 25px;
    margin-top: 30px;
}


.third-section-first-header h4{

    color: #131313;
    font-weight: 700;
    font-size: 45px;
    border-left: 8px solid #FF900E;
    padding-left: 15px;
    padding: 30px;
    margin-bottom: 25px;
    margin-top: 30px;
}

.third-section-first-header h4 p{

    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding: 30px;
 
}

.third-section-other-header{

    box-shadow: 5px 5px 5px 5px whitesmoke;
    padding-left: 15px;
    padding: 30px;
    margin-bottom: 25px;
    margin-top: 30px;
}

.third-section-other-header h6{

color: #131313;
font-weight: 600;
font-size: 20px;

}

.third-section-other-header h6 p{


    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

/* 10 Year Button */

button{

    background-color: #FF900E;
    border: 0;
    padding: 25px 25px;
    color: white;
    cursor: pointer;
}

button .span1{

    font-size: 45px;
    font-weight: bolder;
}

button .span2{

    font-size: 16px;
    font-weight: normal;
}



/* Forth Section */

.forth-container > h2{

    color: #131313;
    font-weight: 700;
    font-size: 45px;
    padding-left: 70px;
}

.photo-arrange:hover{

    background-image: linear-gradient(40deg, #b85dff 40%, rgb(255,69,69) 100%);
    transition: 0.5s;
}

.forth-container > p{

    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding-left: 70px;

}

.award{

    display: grid;
    grid-template-columns:auto auto auto auto;
    justify-content: center;
    align-content: center;
    width: 100%;
    
}

.photo-arrange{

    
    border: 1px solid #FF900E;
    width: 200px;
    height: 180px;
    margin: 30px 35px ;
    text-align: center;
    padding: 40px 20px;
    cursor: pointer;
    
}

.photo-arrange > h3{

    color: #424242;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
 
}

.photo-arrange > p{

    color: #727272;
    font-weight: 600;
    font-size: 20px;
}

/* Fifth Section */

.sponspors-heading{

    text-align: center;
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    margin-top: 70px;
    margin-bottom: 15px;
}

.sponspors-paragraph{

    text-align: center;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    
}

.sponsar-photo{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 80px;
}

/* Newspaper Section */

.newspaper-heading{

    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

.newspaper{

    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

/* Footer */

footer p{

    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
    padding: 25px 30px;
    display:block;
    margin: 0 80px;
    margin-top: 50px;
    margin-bottom: 50px;   
}

/* Responsive For Mobile Device */

@media only screen and (max-width: 768px) {

    .newspaper{

        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        flex-wrap: wrap;
    }

    .award{

        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
    }

    .third-container{

        grid-template-columns: repeat(1, 1fr);
        flex-wrap: wrap;
        width: 40%;
    

    }

    .header-paragraph{

        
        grid-template-columns: repeat(1, 1fr);
        flex-wrap: wrap;
        width: 33.3%;
        justify-items: center;
        align-items: center;
    }

    .third-section-img{

        grid-template-columns: repeat(1, 1fr);

        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        align-self: center;
        align-items: center;
        width: 15%;
        margin: 0;


    }

    nav{

        grid-template-columns: repeat(1, 1fr);
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .second-section-container{

        justify-content: center;
        flex-wrap: wrap;
        
    }

    
   

  }